.about {
    text-align: center;
    color: white;
    margin: 0 2em 0 2em;
    
    .title {
        font-size: 2.5rem;
        margin-bottom: 0.2em;
    }

    .sub {
        margin-bottom: 2em;
    }

}