html {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 26px;
  }
}

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}

body {
  background-image: url("../media/background.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

.backblur {
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 15%;
  color: white;
  z-index: 50;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
}

.navbar .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav-left img {
  width: 3.5em;
  height: 3.5em;
  border: 2px solid white;
  border-radius: 50%;
}

.navbar .nav-left .nav-name {
  font-size: 1.2rem;
  margin-left: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline-block;
}

.navbar .menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  width: 50px;
  cursor: pointer;
}

.navbar .menu-btn .long-bar {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50px;
  border: 1px solid white;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.navbar .menu-btn .middle-bar {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 28px;
  border: 1px solid white;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.navbar .close-btn-1 {
  -webkit-animation: rotate-anim-1 0.5s forwards;
          animation: rotate-anim-1 0.5s forwards;
  border: 1px solid white;
  position: absolute;
  width: 50px;
  top: 50%;
  margin: auto;
}

.navbar .close-btn-2 {
  -webkit-animation: rotate-anim-2 0.5s forwards;
          animation: rotate-anim-2 0.5s forwards;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  margin: auto;
  width: 50px;
}

@-webkit-keyframes rotate-anim-1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes rotate-anim-1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes rotate-anim-2 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes rotate-anim-2 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.navbar .menu-btn:hover .long-bar {
  width: 28px;
}

.navbar .menu-btn:hover .middle-bar {
  width: 50px;
}

.title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  opacity: 0;
  z-index: 100;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
}

.title .welcome {
  text-align: center;
  font-size: 6rem;
  margin: 0 0.5em 0 0.5em;
}

.title .sam {
  margin-top: 0.5em;
  font-size: 1.5rem;
}

@media screen and (max-width: 1360px) {
  .title .welcome {
    font-size: 4.5rem;
  }
  .title .sam {
    margin: 1em 1em 0 1em;
    text-align: center;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 360px) {
  .title .welcome {
    font-size: 4rem;
  }
  .title .sam {
    font-size: 1.5rem;
  }
}

.anim-fade-out {
  -webkit-animation: fade-out 0.5s forwards;
          animation: fade-out 0.5s forwards;
}

.back-text {
  position: absolute;
  color: white;
  font-size: 4rem;
  line-height: 0;
  pointer-events: none;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes right-slide {
  0% {
    opacity: 0;
    margin-left: 0;
  }
  10% {
    opacity: 0.2;
    margin-left: 100px;
  }
  90% {
    opacity: 0.2;
    margin-left: 150px;
  }
  100% {
    opacity: 0;
    margin-left: 250px;
  }
}

@keyframes right-slide {
  0% {
    opacity: 0;
    margin-left: 0;
  }
  10% {
    opacity: 0.2;
    margin-left: 100px;
  }
  90% {
    opacity: 0.2;
    margin-left: 150px;
  }
  100% {
    opacity: 0;
    margin-left: 250px;
  }
}

@-webkit-keyframes left-slide {
  0% {
    opacity: 0;
    margin-left: 0;
  }
  10% {
    opacity: 0.2;
    margin-left: -100px;
  }
  90% {
    opacity: 0.2;
    margin-left: -150px;
  }
  100% {
    opacity: 0;
    margin-left: -250px;
  }
}

@keyframes left-slide {
  0% {
    opacity: 0;
    margin-left: 0;
  }
  10% {
    opacity: 0.2;
    margin-left: -100px;
  }
  90% {
    opacity: 0.2;
    margin-left: -150px;
  }
  100% {
    opacity: 0;
    margin-left: -250px;
  }
}
/*# sourceMappingURL=home.css.map */