.title {
    position: relative;
    height: 100%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 15;
    transition: all 1s;
    animation: fade-in 1s forwards;

    .welcome {
        text-align: center;
        font-size: 6rem;
        margin: 0 0.5em 0 0.5em;
    }

    .sam {
        margin-top: 0.5em;
        font-size: 1.5rem;
    }

    @media screen and (max-width: 1360px) {
        .welcome {
            font-size: 4.5rem;            
        }

        .sam {
            margin: 1em 1em 0 1em;
            text-align: center;
            font-size: 1.2rem;
        }
    }

    @media screen and (max-width: 360px) {
        .welcome {
            font-size: 4rem;
        }
        .sam {
            font-size: 1.5rem;
        }
    }
} 

.title.fade-out {
    margin-right: 300px;
    animation: fade-out 1s forwards;
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}