.fullscreen-menu {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    // transition: backdrop-filter 1s;
    animation: menu-blur 0.5s linear forwards;  

    .lista {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .item1 {
            animation: menu-fade-in 1s ease forwards;
        }

        .item2 {
            animation: menu-fade-in 1s ease 0.5s forwards;
        }

        .item {
            text-align: center;
            width: fit-content;
            position: relative;
            font-size: 4rem;
            color: white;
            opacity: 0;
            cursor: pointer;
            left: 200px;

            .underline {
                font-size: 4rem;
                height: 5px;
                width: 0;
                background-color: white;
                margin: 0 auto 0.5em auto;
                border-radius: 50px;
                transition: width 0.5s;
            }
        }        

        .item1:hover > .underline1 {
            width: 100%;
        }

        .item2:hover > .underline2 {
            width: 100%;
        }

        @keyframes menu-fade-in {
            from {
                left: 300px; 
                opacity: 0; 
            }
            to { 
                left: 0;
                opacity: 1; 
            }
        }
    }
}

// .fullscreen-menu-blur {
//     backdrop-filter: blur(8px);
// }

@keyframes menu-blur {
    from {
        backdrop-filter: blur(0px) brightness(100%);
    }
    to {
        backdrop-filter: blur(5px) brightness(80%);
    }
}