.navbar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    color: white;
    z-index: 50;
    animation: fade-in 1s forwards;

    .nav-left {
        display: flex;
        justify-content: center;

        img {
            width: 3.5em;
            height: 3.5em;
            border: 2px solid white;
            border-radius: 50%;
        }

        .nav-name {
            font-size: 1.2rem;
            margin-left: 1em;
            align-self: center;
            display: inline-block;
        }
    }

    .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 35px;
        width: 50px;
        cursor: pointer;
        
        .long-bar {
            align-self: flex-end;
            width: 50px;
            background-color: white;
            border: 1px solid white;
            transition: width 0.5s ease;
        }

        .middle-bar {
            align-self: flex-end;
            width: 28px;
            background-color: white;
            border: 1px solid white;
            transition: width 0.5s ease;
        }
    }

    .close-btn-1 {
        animation: rotate-anim-1 0.5s forwards;
        background-color: white;
        border: 1px solid white;
        position: absolute;
        width: 50px;
        top: 50%;
        margin: auto;
    }

    .close-btn-2 {
        animation: rotate-anim-2 0.5s forwards;
        background-color: white;
        border: 1px solid white;
        position: absolute;
        top: 50%;
        margin: auto;
        width: 50px;
    }

    @keyframes rotate-anim-1 {
        from { transform: rotate(0deg); }
        to { transform: rotate(45deg); }
    }

    @keyframes rotate-anim-2 {
        from { transform: rotate(0deg); }
        to { transform: rotate(-45deg); }
    }

    .menu-btn:hover {
        .long-bar {
            width: 28px;
        }

        .middle-bar {
            width: 50px;
        }
    }
}
