html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI';
    background-color: black;
    overflow: hidden;
    --start-an-time: 1.5s;
}
.page {
    position: fixed;
    right: 0; 
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}
.navbar {
    width: 100%;
    color: white;
    margin-top: 40px;
}
.nav-title {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-left: 100px;
    display: inline;
    animation: nav-title-an var(--start-an-time);
    animation-fill-mode: forwards;
}
.nav-table {
    display: inline;
    position: absolute;
    right: 60px;
    font-size: 25px;
    font-weight: 100;
}
.nav-table td {
    transform: translateY(20%);
    opacity: 0;
    padding-left: 100px;
    animation: nav-an var(--start-an-time);
    animation-fill-mode: forwards;
}
.nav-table td div {
    width: 0%;
    border-bottom: solid 2px white;
    transition: width 0.5s;
}
.nav-table td a:hover + div {
    width: 100%;
    border-bottom: solid 2px white;
}
.nav-table td a {
    color: white;
    text-decoration: none;
}
.main-container {
    color: white;
    position: absolute;
    width: 50%;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-text {
    position: absolute;
    /*margin-left: 460px;*/
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.main-text h1 {
    position: relative;
    bottom: -100px;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 500;
    animation: title-an var(--start-an-time);
    animation-fill-mode: forwards;
}
.line {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    margin-bottom: 30px;
    width: 0px;
    height: 1px;
    background-color: white;
    animation: line-an var(--start-an-time);
    animation-fill-mode: forwards;
}
.main-text span {
    position: relative;
    font-size: 20px;
    opacity: 0;
    top: -100px;
    animation: text-an var(--start-an-time);
    animation-fill-mode: forwards;
}
.footer {
    position: fixed;
    bottom: 50px;
    width: 100%;
    color: white;
}
.foot-lang {
    position: absolute;
    display: inline;
    margin-left: 100px;
    opacity: 0;
    animation: nav-title-an var(--start-an-time);
    animation-fill-mode: forwards;
}
.foot-lang a {
    color: white;
    text-decoration: none;
}
.foot-table {
    display: inline;
    position: absolute;
    right: 100px;
    opacity: 0;
    animation: foot-copy-an var(--start-an-time);
    animation-fill-mode: forwards;
}
@keyframes foot-copy-an {
    from {opacity: 0; right: 100px} 
    to {opacity: 1; right: 60px}
}
@keyframes nav-title-an {
    from {margin-left: 100px; opacity: 0}
    to {margin-left: 60px; opacity: 1}
}
@keyframes nav-an {
    from {padding-left: 100px; opacity: 0}
    to {padding-left: 65px; opacity: 1}
}
@keyframes line-an {
    from {width: 0px}
    to {width: 700px}
}
@keyframes text-an {
    from {opacity: 0; top: -50px}
    to {opacity: 1; top: 0px}
}
@keyframes title-an {
    from {opacity: 0; bottom: -50px}
    to {opacity: 1; bottom: 0px}
}